<div class="container">
    <div class="title">Músicas em Alta na Semana</div>
    <div class="biggerBox">
        <div class="smallBox">
            <div class="imagem"></div>
            <div class="textContainer">
                <div class="textOne">Nome da música</div>
                <div class="textTwo">Nome do artista</div>
            </div>
        </div>
        <div class="smallBox">
            <div class="imagem"></div>
            <div class="textContainer">
                <div class="textOne">Nome da música</div>
                <div class="textTwo">Nome do artista</div>
            </div>
        </div>
        <div class="smallBox">
            <div class="imagem"></div>
            <div class="textContainer">
                <div class="textOne">Nome da música</div>
                <div class="textTwo">Nome do artista</div>
            </div>
        </div>
        <div class="smallBox">
            <div class="imagem"></div>
            <div class="textContainer">
                <div class="textOne">Nome da música</div>
                <div class="textTwo" >Nome do artista</div>
            </div>
        </div>
        <div class="smallBox">
            <div class="imagem"></div>
            <div class="textContainer">
                <div class="textOne">Nome da música</div>
                <div class="textTwo">Nome do artista</div>
            </div>
        </div>
        <div class="smallBox">
            <div class="imagem"></div>
            <div class="textContainer">
                <div class="textOne">Nome da música</div>
                <div class="textTwo">Nome do artista</div>
            </div>
        </div>
    </div>

</div>