/* RESET.CSS*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*RESET.CSS*/

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    backdrop-filter: blur(2px);
    flex-direction: column;
}

.imagem-logo {
    margin-bottom: 1rem;
}

.tela-login {
    width: 680px;
    height: 700px;
    display: flex;
    flex-direction: column;
    background: #86929B;
    border-top-left-radius: 32px;
    border-top-right-radius: 32px;
    align-items: center;
}

.input-box {
    width: 450px;
    display: block;
}

.input-box input {
    width: 85%;
    height: 2.5rem;
    border: solid;
    border-radius: 12px;
    border-color: #000000;
    background: rgba(13, 37, 56, 1);
    margin-bottom: 20px;
    margin-top: 5px;

    font-family: 'Itim', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    color: rgba(255, 255, 255, 1);
    vertical-align: center;
    padding-left: 15%;
}

.input-box input:focus,
.input-box input:hover {
    outline: none;
    border: solid;
    border-color: rgba(255, 255, 255, 1);
}

input::placeholder {
    font-family: 'Itim', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.6);
    vertical-align: center;
}

.input-box .nomes-input {
    font-family: 'Iceland', sans-serif;
    font-weight: 400;
    font-size: 28px;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: rgba(0, 0, 0, 0.25);
}

.icones {
    width: 2rem;
    height: 2rem;
    position: absolute;
    margin-left: 1rem;
    margin-top: 0.89rem;
    display: flex;

    color: rgba(255, 255, 255, 0.6)
}

/*    background: #1A7FC1;
*/
.cadastro-botao button {
    border-radius: 18px;
    width: 100%;
    height: 3.5rem;
    margin-top: 1.4rem;
    border: none;
}

.cadastro-botao button:enabled {
    background: #1A7FC1;
    cursor: pointer;
}

.cadastro-botao button:enabled:hover {
    background: rgba(26, 127, 193, 0.7)
}

.cadastro-botao button {
    font-family: 'Itim', sans-serif;
    font-weight: 400;
    font-size: 32px;
    color: #E1E1E1;
    text-decoration: none;
}

.cadastro-botao :disabled {
    background-color: rgba(0, 0, 0, 0.25);
    cursor: standart;
}


.validation-error div {
    display: flex;
    align-items: center;

    margin-top: -4%;
    margin-bottom: 0.1rem;
}

.validation-error div img {
    width: 2rem;
    height: 2rem;
    padding-right: 0.5rem;
    padding-left: 0.2rem;
}

.validation-error div p {
    font-family: 'Aldrich', sans-serif;
    font-style: normal;
    color: #FF3737;
    font-weight: 400;
    font-size: 20px;
}

.tela-redirec {
    background-color: #E1E1E1;
    width: 680px;
    height: 3.5rem;
    border-bottom-left-radius: 32px;
    border-bottom-right-radius: 32px;
    vertical-align: center;
}

.tela-redirec div {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 2rem;
    margin-top: 0.7rem;
}

.tela-redirec div p {
    font-family: 'Itim', sans-serif;
    font-size: 22px;
}

.tela-redirec div a {
    font-family: 'Iceland', sans-serif;
    text-decoration: none;
    color: rgb(29, 162, 193);
    border: 1px solid darkcyan;
    width: 200px;
    height: 30px;
    border-radius: 8px;
    font-size: 22px;
}

.login {
    text-align: center;

    margin-left: 1rem;
}

.login:hover {
    color: lightblue;
    background-color: rgba(127, 255, 212, 0.233);
}