<form class="form">
  <div class="campo1">
    <p class="novaPlaylist">Nova Playlist</p>
    <label class="imageInput">
      <input type="file" accept="image" class="picture_input" (change)="ngOnInit()" value="">
      <span class="picture_image">+</span>
    </label>
  </div>

  <div class="campo2">
    <div class="nomeDaPlaylist_div">
      <label for="playlist_input_name" class="playlist_name">Nome da Playlist</label>
      <input type="text" class="playlist_input_name" value="">
    </div>

    <div class="addMusica">
      <input type="search" class="input_musica" placeholder="Música" (click)="exibirOpcoesMusicas()" (keyup)="filtrarMusicas($event)">
      <i class="fas fa-search" aria-hidden="true"></i>

      <div class="popup" [hidden]="!exibirPopup">
        <ul class="opcoes_musica">
          <li *ngFor="let musica of musicasFiltradas" (click)="adicionarMusica(musica)">{{musica}}</li>
        </ul>
      </div>
    </div>

    <div class="musicas_adicionadas">
      <li *ngFor="let musica of musicas_add.getValue()">{{ musica.name }}</li>
    </div>


    <div class="publicavel">
      <label class="button_toggle">
        <input class="publicar_input" type="checkbox">
        <span class="slider round"></span>
      </label>
      <p class="publicar">Publicar</p>
      <button class="submit" (click)="criarPlaylist($event)">CRIAR</button>

    </div>
  </div>
</form>


