<div class="profilepage">
    <div class="profile-header">
        <div class="profile-pic">

        </div>
        <div class="saudation">
            Olá, [Nome]
        </div>
    </div>
        
    <div class="profile-info">
        <p>Seguidores: 10</p>
        <div class="profile-options">
            <button class="prf-btn">Mudar senha</button>
            <button class="prf-btnv">Excluir conta</button>
            <button class="prf-btns">Sair</button>
        </div>
    </div>
</div>
