<div class="profilepage">
    <div class="profile-header">
        <div class="profile-pic">

        </div>
        <div class="saudation">
            Olá, <br> {{username}}
        </div>
    </div>
        
    <div class="profile-info">
        <p>Seguidores: {{followers}}</p>
        <div class="profile-options">
            <button class="prf-btn">Mudar senha</button>
            <button class="prf-btnv">Excluir conta</button>
            <button class="prf-btns" (click)="logOut()">Sair</button>
        </div>
    </div>
</div>