  <form class="form">
    <div class="input_image_div">
      <p class="novaPlaylist">Nova Playlist</p>
      <label class="imageInput">
        <input type="file" accept="image" class="picture_input" (change)="ngOnInit()" value="">
        <span class="picture_image">+</span>
      </label>
    </div>

    <div class="nomeDaPlaylist">
      <p class="label">Nome da Playlist</p>
      <input type="text" class="input_name" value="">
    </div>

    <div class="categorias">Categorias</div>
    <div class="rock">rock</div>
    <div class="pop">Pop</div>
    <div class="publicar">Publicar</div>
    <label class="button_toggle">
      <input type="checkbox">
      <span class="slider round"></span>
    </label>

    <div class="rectangle56"></div>
    <div class="rectangle57"></div>
    <div class="emailField"></div>


    <div class="rectangle231"></div>
    <div class="rectangle232"></div>


    <div class="rectangle214"></div>

    <div class="rectangle213"></div>

    <div class="rectangle215"></div>
    <div class="rectangle562"></div>
    <div class="rectangle572"></div>


    <button class="logInButton" (click)="criarPlaylist()"><div class="cRIAR">CRIAR</div></button>

</form>


