<div class="rectangle59"></div>
<div class="rectangle46"></div>
<div class="publicar">Publicar</div>
<div class="rectangle56"></div>
<div class="rectangle57"></div>
<div class="novaPlaylist">Nova Playlist</div>
<div class="emailField">
  <div class="nomeDaPlaylist">
    <p class="labelWrapper">
      <span class="label">Nome da Playlist</span>
      <span class="label2"></span>
    </p>
  </div>
</div>
<button class="logInButton" (click)="criarPlaylist()"><div class="cRIAR">CRIAR</div></button>
<label class="rectangle229">
    <input type="file" accept="image" class="picture_input" (change)="ngOnInit()">
    <span class="picture_image">+</span>
</label>
<div class="rectangle231"></div>
<div class="rectangle232"></div>
<input type="text" class="input_name">

<div class="rectangle214"></div>
<div class="rock">rock</div>
<div class="rectangle213"></div>
<div class="pop">Pop</div>
<div class="rectangle215"></div>
<div class="rectangle562"></div>
<div class="rectangle572"></div>
<div class="categorias">Categorias</div>
<label class="group56"><img src="assets/group-56-icon.svg" alt="" class="icon2" />
</label>