<div class="rectangle59"></div>
<div class="rectangle46"><img src="assets/rectangle-46-icon.svg" alt="" class="icon" /></div>
<div class="publicar">Publicar</div>
<div class="rectangle56"></div>
<div class="rectangle57"></div>
<div class="novaPlaylist">Nova Playlist</div>
<div class="emailField">
  <div class="nomeDaPlaylist">
    <p class="labelWrapper">
      <span class="label">Nome da Playlist</span>
      <span class="label2"></span>
    </p>
  </div>
</div>
<button class="logInButton"><div class="cRIAR">CRIAR</div></button>
<div class="rectangle229"></div>
<div class="rectangle231"></div>
<div class="rectangle232"></div>
<div class="rectangle233">
    <input type="text">
</div>
<div class="rectangle214"></div>
<div class="rock">rock</div>
<div class="rectangle213"></div>
<div class="pop">Pop</div>
<div class="rectangle215"></div>
<div class="rectangle562"></div>
<div class="rectangle572"></div>
<div class="categorias">Categorias</div>
<div class="group56"><img src="assets/group-56-icon.svg" alt="" class="icon2" /></div>