/* @import url('https://fonts.googleapis.com/css2?family=Iceland&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Iceland&display=swap');
@import '~@fortawesome/fontawesome-free/css/all.css'; */

img {
  width: 256px;
  height: 256px;
  border-radius: 12px;
}

i {
  color: white;
  cursor: pointer;
}

.campo1 {
  border-radius: 15px;
  height: 30vh;
  background-color: #6E7C88;
  display: flex;
  flex-direction: row;
}

.musicslist {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40%, 1fr));
  grid-gap: 35px;
  margin: 15px 0;
}

.categories {
  list-style: none;
  padding: 0;
}

.category {
  display: inline-block;
  padding: 8px;
  color: black;
  background-color: #FFE5B4;
}

.add_new_category {
  cursor: pointer;
  background-color: #FFE5B4;
  text-decoration: none;
  color: black;
}

.share_playlist {
  color: white;
}

.margin-top {
  margin-top: 150px;
}

h1 {
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 34px;
  margin-bottom: 0;
}

.header {
  border-radius: 15px;
  min-height: 30vh;
  background-color: #6E7C88;
  display: flex;
}

.content {
  padding: 30px 50px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.content span {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: #C5C5C5;
}

.content i {
  position: absolute;
  align-self: center;
  justify-self: end;
}

.player {
  position: absolute;
  margin-bottom: -50px;
  align-self: end;
  right: max(calc((100vw - 1300px))/2, 1em);
}