<nav>
    <button class="profile" (click)="showProfile()" *ngIf="isLogged"></button>
    <button class="register" (click)="toLogin()" *ngIf="!isLogged">Registrar</button>
    <div class="container">
        <div class="row">
            <a routerLink="/explorar">Explorar</a>
            <a routerLink="/busca">Busca</a>
            <a routerLink="/"><img src="../../assets/logo.png" alt="" srcset=""></a>
            <a routerLink="/em-alta">Em alta</a>
            <a routerLink="/playlists" *ngIf="isLogged">Playlists</a>
            <a routerLink="/login" *ngIf="!isLogged">Playlists</a>
        </div>
    </div>
    <app-profilepage id="pp" *ngIf="show" (logOutEvent)="showProfile($event)"></app-profilepage>
</nav>