.card-container {
    width: 256px;
    height: 256px;
    border-radius: 12px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    background-size: cover;
    background-position: center center;
}

.card-container:hover .card-details {
    display: flex;
}

.card-details {
    display: none;

    align-items: center;
    justify-content: start;
    background: rgba(255, 255, 255, 0.8);
    width: 100%;
    border-radius: 0px 0px 12px 12px;
    height: 80px;
    padding: 0 10px;
}

.player-outer {
    height: 50px !important;
    width: 50px !important;
    padding: 8px !important;
}