<head>
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.15.3/css/all.css"/>
</head>
<div class="playlist-card" (click)="openPlaylistOnClick(playlist.link)">
  <img class="playlist-image" [src]="playlist.image" alt="Playlist cover">
  <div class="play-button" [ngClass]="{'playing': playlist.isPlaying}" (click)="startPlayingOnClick($event)">
    <i class="fa" [ngClass]="{'fa-play': !playlist.isPlaying, 'fa-pause': playlist.isPlaying}"></i>
  </div>
  <div class="card-body">
    <h5 class="card-title">{{ playlist.name }}</h5>
  </div>
  <div class="options">
    <i class="fas fa-ellipsis-v"></i>
    <div class="options-menu">
      <div class="option" (click)="executeAction($event)">
        <span>Curtir</span>
      </div>
      <div class="option" (click)="executeAction($event)">
        <span>Viajar</span>
      </div>
      <div class="option" (click)="executeAction($event)">
        <span>Sim</span>
      </div>
    </div>
  </div>
</div>
