.card-container {
    width: 256px;
    height: 256px;
    border-radius: 12px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.card-container:hover .card-details {
    display: inherit;
}

.card-details {
    display: none;
    background: rgba(255, 255, 255, 0.8);
    width: 100%;
    border-radius: 0px 0px 12px 12px;
    height: 80px;
}