:host {

  position: absolute;
  padding-top: 5%;
  display: block;
  margin: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #0d2538;
  align-items: flex-start;
  overflow-y: hidden
}

.campo1 {
  position: relative;
  width: 100%;
}

.minhas_playlists {
  font-size: 1.4vw;
  color: #ffffff;
}

.addPlaylist {

  width: 13vw;
  height: 25vh;
  background-color: #0d2538;
  outline: solid 2px #86929B;
  outline-offset: -2px;
  font-size: 10vh;
  color: #86929B;
  border-radius: 15px;
  cursor: pointer;

}

.playlistsDIV {
  display: flex;
  flex-direction: row;
}

.playlist_name {
  color: #ffffff;
}

.playlistButton {
  width: 13vw;
  height: 25vh;
  background-color: #86929B;
  outline: solid 2px #86929B;
  outline-offset: -2px;
  font-size: 10vh;
  color: #ffffff;
  border-radius: 15px;
  cursor: pointer;
  margin-right: 20px;
}

.campo2 {
  position: relative;
  width: 100%;
}

.followed_playlist {
  font-size: 1.4vw;
  color: #ffffff;
}

.following_playlistsButton {
  width: 13vw;
  height: 25vh;
  background-color: #86929B;
  outline: solid 2px #86929B;
  outline-offset: -2px;
  font-size: 10vh;
  color: #86929B;
  border-radius: 15px;
  cursor: pointer;
}

.line-1 {
  position: relative;
  height: 1px;
  left: 2.5%;
  bottom: 25%;
  width: 95%;
  background-color: #ffffff;
}

.playbar {
  background-color: #6E7C88;
  position: fixed;
  left: 0;
  bottom: 0;
  height: 8vh;
  width: 100%;
}

.likedPlaylistsDiv {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
}

.playlistsDIV {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
}