.campo1 {
  position: relative;
  width: 100%;
}

.addPlaylist {
  width: 265px;
  height: 265px;
  margin: 10px;
  background-color: #0d2538;
  outline: solid 2px #86929B;
  outline-offset: -2px;
  font-size: 10vh;
  color: #86929B;
  border-radius: 15px;
  cursor: pointer;
}

.playlistsDIV {
  display: flex;
  flex-direction: row;
}

.playlist_name {
  color: #ffffff;
}

.playlistButton {
  width: 13vw;
  height: 25vh;
  background-color: #86929B;
  outline: solid 2px #86929B;
  outline-offset: -2px;
  font-size: 10vh;
  color: #ffffff;
  border-radius: 15px;
  cursor: pointer;
  margin-right: 20px;
}

.campo2 {
  position: relative;
  width: 100%;
}

.followed_playlist {
  font-size: 1.4vw;
  color: #ffffff;
}

.following_playlistsButton {
  width: 13vw;
  height: 25vh;
  background-color: #86929B;
  outline: solid 2px #86929B;
  outline-offset: -2px;
  font-size: 10vh;
  color: #86929B;
  border-radius: 15px;
  cursor: pointer;
}

.likedPlaylistsDiv {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
}

.playlistsDIV {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
}

.margins {
  margin-top: 150px;
  margin-bottom: 200px;
}