<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login - Sfotipy</title>

</head>

<body>
  <div class="tela-login">
    <div class="logo-sfotipy">
      <a href="#">
        <img src="../../assets/logo_preta.png" class="imagem-logo" alt="logo-sfotipy">
      </a>
    </div>
    <div class="input-group">
      <div class="input-box">
        <label for="email" class="nomes-input">E-mail</label>
        <label for="email">
          <img src="../../assets/email_branco.svg" class="icones" id="email-i" alt="icone de email">
        </label>
        <input id="email" type="email" name="email" placeholder="exemplo@gmail.com" required>
      </div>

      <div class="input-box">
        <label for="password" class="nomes-input">Senha</label>
        <label for="password">
          <img src="../../assets/senha_branco.svg" class="icones" id="senha-i" alt="icone de senha">
        </label>
        <input id="password" type="password" name="password" placeholder="••••••••" required>
      </div>

      <a routerLink="/esqueceu-senha" class="esqueceu-senha">Esqueceu sua senha?</a>
      <div class="entrar-botao"><button><a href="#" class="input-box">Entrar</a></button>
      </div>
    </div>
    <div class="container-cadastro">
      <p class="p-cadastro">Ainda não possui uma conta?</p>
      <a routerLink="/cadastro" class="cadastro">Cadastre-se</a>
    </div>
  </div>
</body>

</html>