@import url('https://fonts.googleapis.com/css2?family=Aldrich&family=Iceland&family=Inter:wght@400;600&family=Itim&family=Montserrat:wght@300;400;700&display=swap');

.imagem-logo {
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.tela-login {
    width: 680px;
    height: 680px;
    display: flex;
    flex-direction: column;
    background: #86929B;
    border-radius: 32px;
    align-items: center;
}

.input-group {
    padding-top: 1rem;
    padding-bottom: 2rem;
}

.input-box {
    width: 500px;
    display: block;
}

.input-box input {
    width: 85%;
    height: 60px;
    border: solid;
    border-radius: 16px;
    border-color: #000000;
    background: rgba(13, 37, 56, 1);
    margin-bottom: 1rem;
    margin-top: 5px;

    font-family: 'Itim', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    color: rgba(255, 255, 255, 1);
    vertical-align: center;
    padding-left: 15%;
}

/*
TENTANDO FAZER O ICONE MUDAR
.input-box:hover #senha-i {
    background: url(../../assets/senha_branco.svg) no-repeat center center;
    background-size: 3rem;
    transition: 0.5;
}

.input-box:hover #email-i,
.input-box:focus #email-i {
    background: url(../../assets/email_branco.svg) no-repeat center center;
    background-size: 3rem;
}
*/

.input-box input:focus,
.input-box input:hover {
    outline: none;
    border: solid;
    border-color: rgba(255, 255, 255, 1);
}

input::placeholder {
    font-family: 'Itim', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    color: rgba(255, 255, 255, 0.6);

}

.input-box .nomes-input {
    font-family: 'Iceland', sans-serif;
    font-weight: 400;
    font-size: 32px;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: rgba(0, 0, 0, 0.25);
    flex-wrap: wrap;
}

.icones {
    width: 3rem;
    height: 3rem;
    position: absolute;
    margin-top: 3rem;
    left: 6.3rem;

    color: rgba(255, 255, 255, 0.6)
}


.esqueceu-senha {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #E1E1E1;
    display: inline-block;
    margin-left: 63.5%;
}

.esqueceu-senha:hover {
    font-size: 20px;
    margin-left: 60%;
    padding-bottom: 1%;
}

.entrar-botao button {
    background: #1A7FC1;
    border-radius: 16px;
    width: 100%;
    height: 4rem;
    margin-top: 1rem;
    border: none;
    cursor: pointer;
}

.entrar-botao button:hover {
    background: rgba(26, 127, 193, 0.7)
}

.entrar-botao button {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 32px;
    color: #E1E1E1;
    text-decoration: none;
}

.container-cadastro {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.p-cadastro {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 22px;
}

.cadastro {
    font-family: 'Iceland', sans-serif;
    font-weight: 400;
    font-size: 40px;
    color: #E1E1E1;
    text-decoration: none;
}

.cadastro:hover {
    text-decoration: underline;
}

.validation-error div {
    display: flex;
    align-items: center;

    margin-top: -2%;
    margin-bottom: 0.3rem;
}

.validation-error div img {
    width: 2rem;
    height: 2rem;
    padding-right: 0.5rem;
    padding-left: 0.2rem;
}

.validation-error div p {
    font-family: 'Aldrich', sans-serif;
    font-style: normal;
    color: #FF3737;
    font-weight: 400;
    font-size: 20px;
}

.validation-error {
    border-color: #FF3737;
}