<div class="profilepage">
    <div class="profile-header">
        <div class="profile-pic">

        </div>
        <div class="saudation" name="name">
            Olá, <br> {{user.name}}
        </div>
    </div>
        
    <div class="profile-info" *ngIf="isLogged">
        <p name="followers">Seguidores: {{user.followers}}</p>
        <div class="profile-options">
            <button class="prf-btn">Mudar senha</button>
            <button class="prf-btnv">Excluir conta</button>
            <button class="prf-btns" (click)="logOut()">Sair</button>
        </div>
    </div>
    
    <div class="profile-info" *ngIf="!isLogged">
        <p>Para acessar segidores, criar playlists e receber recomendações, faça login</p>
        <button class="prf-btng">Criar conta</button>
    </div>
</div>
