<div class="profilepage">
    <div class="profile-header">
        <div class="profile-pic">

        </div>
        <div class="saudation" name="nome">
            Olá, <br> {{user.name}}
        </div>
    </div>

    <div class="profile-info" *ngIf="isLogged">
        <p name="segidores">Seguidores: {{user.followers}}</p>
        <div class="profile-options">
            <p class="prf-btn" name="useremail">{{user.email}}</p>
            <button name="sair" class="prf-btnv" (click)="logOut()">Sair</button>
        </div>
    </div>

    <div class="profile-info" *ngIf="!isLogged">
        <p>Para acessar segidores, criar playlists e receber recomendações, faça login</p>
        <button class="prf-btng">Criar conta</button>
    </div>
</div>