<nav class="taskbar">
    <button class="profile" (click)="showProfile()" *ngIf="isLogged"></button>
    <button class="register" *ngIf="!isLogged">Registrar</button>

    <div class="tb-options">
        <a class="tb-btn" routerLink="/explorar">Explorar</a>
        <a class="tb-btn" routerLink="/busca">Busca</a>
        <button class="logo-btn"></button>
        <a class="tb-btn" routerLink="/emalta">Em Alta</a>
        <a class="tb-btn" routerLink="/minhas_playlists">Playlists</a>
    </div>
</nav>
<app-profilepage id="pp" [isLogged]="isLogged" (logOutEvent)="getLogOut($event)" *ngIf="show"></app-profilepage>
