.footer-container {
    position: fixed;
    width: 100vw;
    height: 112px;
    background: #6E7C88;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: end;
    flex-direction: column;
}

.app-player {
    margin-top: -115px;
    margin-left: 25px;
    margin-right: 25px;
}

.player-controls {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 65%;
}

.player-content {
    margin: 0 10px;
}

.time-content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20%;
    padding-top: 5px;
    padding-bottom: 10px;
}

.time-content p {
    margin: auto 5px;
    font-family: 'Iceland';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
}

.progress-bar {
    background-color: #D9D9D9;
    border-radius: 12px;

    width: 500px;
    height: 12px;

    position: relative;
    display: block;
    padding: 2px;

    cursor: pointer;
}

.progress-bar>span {
    background-color: #0D2538;
    border-radius: 12px;

    height: 100%;

    display: block;
    text-indent: -9999px;
}

i {
    cursor: pointer;
}

.music-name {
    font-family: 'Iceland';
    font-style: normal;
    font-weight: bolder;
    font-size: 28px;
    color: #0D2538;
    margin: 0;
}