<div class="footer-container">
    <div class="player-controls">
        <i (click)="musicPlayerService.back()" class="fas fa-2xl fa-solid fa-backward" style=" color: #0D2538"></i>
        <app-player class="app-player"></app-player>
        <i (click)="musicPlayerService.next()" class="fas fa-2xl fa-solid fa-forward" style=" color: #0D2538"></i>
    </div>
    <p class="music-name">{{musicPlayerService.getCurrentMusicName()}}</p>
    <div class="time-content">
        <p>{{musicPlayerService.getCurrentTime()}}</p>
        <div class="player-content">
            <div class="progress-bar" (click)="seek($event)">
                <span [ngStyle]="{'width': musicPlayerService.getCurrentProgress() + '%'}">Progress: 80%</span>
            </div>
        </div>
        <p>{{musicPlayerService.getCurrentMusicTime()}}</p>
    </div>
</div>