<head>
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.15.3/css/all.css" />
</head>

<div class="playlist-card" name="playlist-card">
  <div (click)="openPlaylistOnClick($event, playlist)">
    <div class="categories-container" name="playlist-category-list">
      <span *ngFor="let cat of categorias" name="playlist-category" class="badge"
        id="playlist-cat-{{cat.name.toUpperCase()}}">{{cat.name}}</span>
    </div>
    <img class="playlist-image" [src]="playlist?.image" alt="Playlist cover">
    <div class="card-body">
      <h5 name="nome" class="card-title">{{ playlist?.name }}</h5>
    </div>
  </div>

  <div class="overlay" name="overlay">
    <div class="player-outer">
      <div class="player-inner">
        <button name="play-button" [ngClass]="{'playing': isPausable()}" (click)="playOrPauseOnClick($event)"><img
            src={{src}} alt=""></button>
      </div>
    </div>

    <div class="options" name="options">
      <i class="fas fa-ellipsis-v" name="options-button" (click)="executeAction($event)"></i>
      <div class="options-menu">
        <div class="option" name="Like" (click)="likePlaylist($event, playlist)">
          <i class="fas fa-2xs fa-heart"></i>
        </div>
        <div class="option" name="Share" (click)="sharePlaylist($event, playlist)">
          <i class="fas fa-2xs fa-share"></i>
        </div>
        <div class="option" name="Save" (click)="savePlaylist($event)">
          <i class="fas fa-2xs fa-plus"></i>
        </div>
      </div>
      <div class="overlay-messages">
        <div class="share-message" name="share-message" *ngIf="showShareMessage">Link copiado!</div>
        <div class="liked-message" name="liked-message" *ngIf="showLikedMessage">Playlist curtida!</div>
      </div>
    </div>
  </div>
</div>