.playlist-card {
  overflow: hidden;
  margin: 10px;
  width: 360px;
  height: 384px;
  background-color: #1a171785;
  position: relative;
  border-radius: 12px;
  transition: transform 0.2s ease-in-out;
  cursor: pointer;

  &:hover {
    transform: scale(1.02);
  }
}

.playlist-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-body {
  position: absolute;
  padding: 8px 16px;
  height: auto;
  bottom: 0;
  background-color: rgb(13, 37, 56, 0.8);
  width: 328px;
  text-align: center;
}

.card-title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 34px;
  color: #FFFFFF;
  margin: 10px;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 270px;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 12px;
  display: flex;
  justify-content: space-between;
}

.playlist-card:hover .overlay {
  opacity: 1;
}

.playlist-card .play-button {
  position: absolute;
  bottom: 0.8rem;
  left: 0.4rem;
  width: 4rem;
  height: 4rem;
  border: 0.4rem solid #0D2538;
  border-radius: 50%;
  background-color: #FFE5B4;
  color: #0D2538;
  font-size: 20px;
  line-height: 50px;
  text-align: center;
  opacity: 0;
  transition: opacity 0.2s;
}

.playlist-card:hover .play-button {
  opacity: 1;
}

.playlist-card .play-button .fa {
  font-size: 2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.options {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgb(255, 255, 255);
  font-size: 2rem;
  cursor: pointer;
}

.options-menu {
  display: none;
  position: absolute;
  background-color: #177cbc;
  border-radius: 5px;
  bottom: 90px;
  right: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  z-index: 1;
  opacity: 0;
  transition: opacity 0.2s;
}

.options:hover .options-menu {
  display: block;
  opacity: 1;
  transition-delay: 0.2s;
}

.option {
  padding: 0.5rem 0.8rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
}

.option:hover {
  background-color: #0D2538;
}

.share-message {
  position: absolute;
  left: 4.5rem;
  bottom: 7.5rem;
  background-color: #177cbc;
  color: white;
  font-size: 14px;
  padding: 5px;
  border-radius: 5px;
  //transform: translate(50%, -50%);
  z-index: 2;
}

.categories-container {
  padding: 15px;
  position: absolute;
}

.badge {
  background-color: #FFE5B4;
  border-radius: 8px;
  padding: 5px 10px;
  font-family: 'Iceland';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 21px;
  text-transform: uppercase;

  color: #000000;
  margin: 5px;
}

.player-outer {
  background-color: #0D2538;
  padding: 6px;
  border-radius: 50%;
  height: 80px;
  width: 80px;
}

.player-inner {
  background-color: #FFE5B4;
  border-radius: 50%;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  background: none;
  border: none;
  height: 100%;
  cursor: pointer;
}

button img {
  height: 50%;
}