#manage-categories {
    margin:10% auto;
    width: 30%;
    height: 150px;
    background-color: #BCBCBC;
    border-radius: 7px;
    padding: 20px;
    justify-content: center;
}

h3 {
    color:white;
}

.category {
    background-color: #FFE5B4;
    display: inline;
    border-radius: 4px;
    margin-right: 20px;
    padding: 3px;
    cursor: pointer;
}

#selected-categories{
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    border-bottom: 1px solid gray;
    width: 50%;
    padding: 5px;
}

#categories {
    padding: 5px;
}

#save {
    display: inline;
    cursor: pointer;
    background-color: #FFE5B4;
    display: inline;
    border-radius: 4px;
    border:none;
    padding:3px;
    margin-left: 150px;
}

#add-new-category{
    cursor: pointer;
    background-color: #FFE5B4;
    display: inline;
    border-radius: 4px;
    padding: 3px;
}
