<div id="manage-categories">
    <h3> Adicionar Categorias </h3>
    <div id="selected-categories">

        <div class="category">
            ROCK
        </div>
        <div class="category">
            POP
        </div>

    </div>
    <div id="categories">
        <div class="category">
            MPB
        </div>
        <div class="category">
            RAP
        </div>
        <div class="category">
            FUNK
        </div>
        <div class="category">
            JAZZ
        </div>

        <div id="add-new-category">
            +
        </div>
        
        <button id="save">
            SALVAR
        </button>
    </div>
</div>
