
<div class="container">
    <div class="artista">Artistas em alta</div>
    <div class="lista">
        <div><img src={{getFirstMusicAuthor()}} alt="" class="circulo"></div>
        <div><img src={{getSecondMusicAuthor()}} alt="" class="circulo"></div>
        <div><img src={{getThirdMusicAuthor()}} alt="" class="circulo"></div>
        <div><img src={{getFourthMusicAuthor()}} alt=""  class="circulo"></div>
        <div><img src={{getFifthMusicAuthor()}} alt="" class="circulo"></div>
    </div>
</div>


