*{
    margin: 0;
    padding: 0;
}
.artista{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 34px;
    font-style: normal;
    color: #FFFFFF;
    padding-left: 64px;
}
.lista{
    display: flex;
    flex-wrap: wrap;
    gap: 48px;
    padding-left: 64px;
}
.circulo{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.container{
    padding-top: 146px;
    padding-left: 32px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    row-gap: 21px;
    width: 770px;
    height: 187px;
    background: #0D2538;
}