.bound {
    margin-top: 150px;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.background {
    padding: 24px;
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(2px);
    border-radius: 12px;
    left: max(calc((100vw - 1200px))/2, 1em);
    right: max(calc((100vw - 1200px))/2, 1em);
}

.tag {
    border: 3px solid #0D2538;
    border-radius: 25px;
    padding: 0.25em 0.5em;
    margin: 10px;
}

.tag.active {
    background-color: #0D2538;
    color: #FFF;
}

input[name="search"] {
    background: #D9D9D9;
    border-radius: 25px;
    border: none !important;
    height: 40px;
    padding: 8px;

    width: 80%;
}

.playlistslista {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.musicaslista {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40%, 1fr));
    grid-gap: 35px;
    margin: 15px 0;
}

.see-more-message {
    text-align: end;
    width: 100%;
    cursor: pointer;
}