<section class="bound">
    <div class="container">
        <div class="filter">
            <div class="background">
                <input id="text-search-input" type="search" [(ngModel)]="filterText" name="search" role="search"
                    placeholder="O que você quer ouvir?">
            </div>
        </div>
        <div class="musicaslista">
            <app-music-card *ngFor="let m of musics | musicsFilter: filterText" [id]="m.id" [name]="m.name"
                [author]="m.author" [music]="m"></app-music-card>
        </div>
        <hr>
        <h1>Playlists</h1>
        <div class="playlistslista">
            <app-playlist-card *ngFor="let p of playlists | playlistsFilter: filterText"
                [playlist]="p"></app-playlist-card>
        </div>
    </div>
</section>