<section class="bound">
    <div class="container">
        <div class="filter">
            <div class="background">
                <input type="search" [(ngModel)]="filterText" name="search" id="" role="search"
                    placeholder="O que você quer ouvir?">
            </div>
        </div>
        <div class="musicaslista">
            <app-music-card *ngFor="let m of musics | musicsFilter: filterText" [id]="m.id" [name]="m.name"
                [author]="m.author"></app-music-card>
        </div>
    </div>
</section>