<body>
  <div class="tela-login">
    <div class="logo-sfotipy">
      <a href="#">
        <img src="../../assets/logo_preta.png" class="imagem-logo" alt="logo-sfotipy">
      </a>
    </div>
    <div class="palavras">
      <h1 class="titulo">Redefinição de senha</h1>
      <p class="cabeçalho esqueceu-palavra">Esqueceu sua senha?</p>
      <p class="cabeçalho letra">Digite seu email que enviaremos um link para redefinir sua senha</p>
    </div>
    <div class="input-box">
      <label for="email" class="nomes-input">Insira seu E-mail</label>
      <label for="email">
        <img src="../../assets/email_branco.svg" class="icones" id="email-i" alt="icone de email">
      </label>
      <input id="email" type="email" name="email" placeholder="exemplo@gmail.com" required>
    </div>
    <div class="esqueci-botao"><button><a href="#" class="input-box">Enviar</a></button>
    </div>
  </div>
</body>