<body>
  <div class="tela-login">
    <div class="logo-sfotipy">
      <a href="#">
        <img src="../../assets/logo_preta.png" class="imagem-logo" alt="logo-sfotipy">
      </a>
    </div>
    <div class="input-group">
      <div class="input-box">
        <label for="email" class="nomes-input">Qual o seu e-mail?</label>
        <label for="email">
          <img src="../../assets/email_branco.svg" class="icones" id="email-i" alt="icone de email">
        </label>
        <input id="email" type="email" name="email" placeholder="exemplo@gmail.com" required>
      </div>
      <div class="input-box">
        <label for="password" class="nomes-input">Crie uma senha</label>
        <label for="password">
          <img src="../../assets/senha_branco.svg" class="icones" id="senha-i" alt="icone de senha">
        </label>
        <input id="password" type="password" name="password" placeholder="••••••••" required>
      </div>
      <div class="input-box">
        <label for="passwords" class="nomes-input">Confirme sua senha</label>
        <label for="passwords">
          <img src="../../assets/senha_branco.svg" class="icones" id="senha-i" alt="icone de senha">
        </label>
        <input id="passwords" type="password" name="passwords" placeholder="••••••••" required>
      </div>
      <div class="input-box">
        <label for="text" class="nomes-input">Como devemos lhe chamar?</label>
        <label for="text">
          <img src="../../assets/usuario_branco.svg" class="icones" id="usuario-i" alt="icone de usuario">
        </label>
        <input id="text" type="text" name="password" placeholder="Insira um nome de perfil" required>
      </div>
      <div class="cadastro-botao"><button><a href="#" class="input-box">Cadastrar-se</a></button>
      </div>
    </div>
  </div>
</body>