<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cadastro - Sfotipy</title>

</head>

<body>
  <div class="tela-login">
    <div class="logo-sfotipy">
      <a href="#">
        <img src="../../assets/logo_preta.png" class="imagem-logo" alt="logo-sfotipy">
      </a>
    </div>
    <div class="input-group">
      <div class="input-box">
        <label for="email">Qual o seu e-mail?</label>
        <img src="../../assets/email.svg" class="icones" id="email-i" alt="icone de email">
        <input id="email" type="email" name="email" placeholder="exemplo@gmail.com" required>
      </div>
      <div class="input-box">
        <label for="password">Crie uma senha</label>
        <img src="../../assets/senha.svg" class="icones" id="senha-i" alt="icone de senha">
        <input id="password" type="password" name="password" placeholder="********" required>
      </div>
      <div class="input-box">
        <label for="passwords">Confirme sua senha</label>
        <img src="../../assets/senha.svg" class="icones" id="senha-i" alt="icone de senha">
        <input id="passwords" type="password" name="passwords" placeholder="********" required>
      </div>
      <div class="input-box">
        <label for="text">Como devemos lhe chamar?</label>
        <img src="../../assets/usuario.svg" class="icones" id="usuario-i" alt="icone de usuario">
        <input id="text" type="text" name="password" placeholder="Insira um nome de perfil" required>
      </div>
      <div class="cadastro-botao"><button><a href="#" class="input-box">Cadastrar-se</a></button>
      </div>
    </div>
  </div>
</body>

</html>