<div class="homepage">
    <div class="plsts-em-alta">
        <h1>Playlists em alta</h1>

        <div class="plsts-ea-lst">
            <div class="plst-ea-4">
                <img class="plst-ea-img" [src]="plEma[3].image">
                <div class="podium">4º</div>
            </div>
            <div class="plst-ea-2">
                <img class="plst-ea-img" [src]="plEma[1].image">
                <div class="podium">2º</div>
            </div>
            <div class="plst-ea-1">
                <img class="plst-ea-img" [src]="plEma[0].image">
                <div class="podium">1º</div>
            </div>
            <div class="plst-ea-3">
                <img class="plst-ea-img" [src]="plEma[2].image">
                <div class="podium">3º</div>
            </div>
            <div class="plst-ea-5">
                <img class="plst-ea-img" [src]="plEma[4].image">
                <div class="podium">5º</div>
            </div>
        </div>

        <a class="ver-mais" href="https://www.google.com">ver mais</a>
    </div>

    <div class="plsts-publicas">
        <h1>Playlists Públicas</h1>

        <div class="plsts-pb-lst">
            <div class="plst-pb" *ngFor="let plst of plPub | slice:0:5">
                <img class="plst-img" [src]="plst.image">
                <p class="plst-ttl">{{ plst.name }}</p>
            </div>
        </div>

        <a class="ver-mais" href="www.google.com">ver mais</a>
    </div>

    <div class="recomendacoes" *ngIf="isLogged">
        <h1>Recomendações para você</h1>

        <div class="plsts-rc-lst">
            <div class="plst-rc" *ngFor="let plst of plRec | slice:0:5">
                <img class="plst-img" [src]="plst.image">
                <p class="plst-ttl">{{ plst.name }}</p>
            </div>
        </div>

        <a class="ver-mais" href="www.google.com">ver mais</a>
    </div>

    <div class="minhas-plsts" *ngIf="isLogged">
        <h1>Minhas Playlists</h1>

        <div class="plsts-mp-lst">
            <div class="plst-mp" *ngFor="let plst of plMin | slice:0:5">
                <img class="plst-img" [src]="plst.image">
                <p class="plst-ttl">{{ plst.name }}</p>
            </div>
        </div>

        <a class="ver-mais" href="www.google.com">ver mais</a>
    </div>
</div>