<div class="homepage" *ngIf="isLogged">
    <div class="plsts-em-alta">
        <h1>Playlists em alta</h1>

        <div class="plsts-ea-lst">
            <div class="plst-ea-4">
                <img class="plst-ea-img" src="/assets/cover9.jpg">
                <div class="podium">4º</div>
            </div>
            <div class="plst-ea-2">
                <img class="plst-ea-img" src="/assets/cover3.webp">
                <div class="podium">2º</div>
            </div>
            <div class="plst-ea-1">
                <img class="plst-ea-img" src="/assets/cover7.jpg">
                <div class="podium">1º</div>
            </div>
            <div class="plst-ea-3">
                <img class="plst-ea-img" src="/assets/cover1.jpg">
                <div class="podium">3º</div>
            </div>
            <div class="plst-ea-5">
                <img class="plst-ea-img" src="/assets/cover5.webp">
                <div class="podium">5º</div>
            </div>
        </div>

        <a class="ver-mais" href="https://www.google.com">ver mais</a>
    </div>

    <div class="plsts-publicas">
        <h1>Playlists Públicas</h1>

        <div class="plsts-pb-lst">
            <div class="plst-pb">
                <img class="plst-img" src="/assets/cover1.jpg">
                <p class="plst-ttl">Titulo</p>
            </div>
            <div class="plst-pb">
                <img class="plst-img" src="/assets/cover1.jpg">
                <p class="plst-ttl">Titulo</p>
            </div>
            <div class="plst-pb">
                <img class="plst-img" src="/assets/cover1.jpg">
                <p class="plst-ttl">Titulo</p>
            </div>
            <div class="plst-pb">
                <img class="plst-img" src="/assets/cover1.jpg">
                <p class="plst-ttl">Titulo</p>
            </div>
            <div class="plst-pb">
                <img class="plst-img" src="/assets/cover8.jpg">
                <p class="plst-ttl">Titulo</p>
            </div>
        </div>

        <a class="ver-mais" href="www.google.com">ver mais</a>
    </div>

    <div class="recomendacoes">
        <h1>Recomendações para você</h1>

        <div class="plsts-rc-lst">
            <div class="plst-rc">
                <img class="plst-img" src="/assets/cover2.jpg">
                <p class="plst-ttl">Titulo</p>
            </div>
            <div class="plst-rc">
                <img class="plst-img" src="/assets/cover8.jpg">
                <p class="plst-ttl">Titulo</p>
            </div>
            <div class="plst-rc">
                <img class="plst-img" src="/assets/cover8.jpg">
                <p class="plst-ttl">Titulo</p>
            </div>
            <div class="plst-rc">
                <img class="plst-img" src="/assets/cover8.jpg">
                <p class="plst-ttl">Titulo</p>
            </div>
            <div class="plst-rc">
                <img class="plst-img" src="/assets/cover7.jpg">
                <p class="plst-ttl">Titulo</p>
            </div>
        </div>

        <a class="ver-mais" href="www.google.com">ver mais</a>
    </div>

    <div class="minhas-plsts">
        <h1>Minhas Playlists</h1>

        <div class="plsts-mp-lst">
            <div class="plst-mp">
                <img class="plst-img" src="/assets/cover6.jpg">
                <p class="plst-ttl">Titulo</p>
            </div>
            <div class="plst-mp">
                <img class="plst-img" src="/assets/cover7.jpg">
                <p class="plst-ttl">Titulo</p>
            </div>
            <div class="plst-mp">
                <img class="plst-img" src="/assets/cover7.jpg">
                <p class="plst-ttl">Titulo</p>
            </div>
            <div class="plst-mp">
                <img class="plst-img" src="/assets/cover7.jpg">
                <p class="plst-ttl">Titulo</p>
            </div>
            <div class="plst-mp">
                <img class="plst-img" src="/assets/cover3.webp">
                <p class="plst-ttl">Titulo</p>
            </div>
        </div>

        <a class="ver-mais" href="www.google.com">ver mais</a>
    </div>
</div>

<div class="homepage" *ngIf="!isLogged">
    <div class="plsts-em-alta">
        <h1>Playlists em alta</h1>

        <div class="plsts-ea-lst">
            <div class="plst-ea-4">
                <img class="plst-ea-img" src="/assets/cover9.jpg">
                <div class="podium">4º</div>
            </div>
            <div class="plst-ea-2">
                <img class="plst-ea-img" src="/assets/cover3.webp">
                <div class="podium">2º</div>
            </div>
            <div class="plst-ea-1">
                <img class="plst-ea-img" src="/assets/cover7.jpg">
                <div class="podium">1º</div>
            </div>
            <div class="plst-ea-3">
                <img class="plst-ea-img" src="/assets/cover1.jpg">
                <div class="podium">3º</div>
            </div>
            <div class="plst-ea-5">
                <img class="plst-ea-img" src="/assets/cover5.webp">
                <div class="podium">5º</div>
            </div>
        </div>

        <a class="ver-mais" href="https://www.google.com">ver mais</a>
    </div>

    <div class="plsts-publicas">
        <h1>Playlists Públicas</h1>

        <div class="plsts-pb-lst">
            <div class="plst-pb">
                <img class="plst-img" src="/assets/cover1.jpg">
                <p class="plst-ttl">Titulo</p>
            </div>
            <div class="plst-pb">
                <img class="plst-img" src="/assets/cover1.jpg">
                <p class="plst-ttl">Titulo</p>
            </div>
            <div class="plst-pb">
                <img class="plst-img" src="/assets/cover1.jpg">
                <p class="plst-ttl">Titulo</p>
            </div>
            <div class="plst-pb">
                <img class="plst-img" src="/assets/cover1.jpg">
                <p class="plst-ttl">Titulo</p>
            </div>
            <div class="plst-pb">
                <img class="plst-img" src="/assets/cover8.jpg">
                <p class="plst-ttl">Titulo</p>
            </div>
        </div>

        <a class="ver-mais" href="www.google.com">ver mais</a>
    </div>
</div>